.team-list {
  position: relative;
  width: 100%;
  height: 90%;

  &__search-box {
    display: flex;
    justify-content: center;
  }

  &__auto-sizer {
    padding: 10px 0;
  }

  &__list {
    width: 100%;
    height: 100%;
    outline: none;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__item {
    width: 250px;
    height: 300px;
    margin: 5px;
  }
}
