.main {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 80px;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;

  &__loading,
  &__error {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }
}
