.label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &--round {
    border-radius: 100px;
  }

  &--outline {
    border-width: 1px;
    border-style: solid;
    border-color: #0086c2;
    border-radius: 3px;
    background: none !important;
    color: #0086c2;
  }
}
